<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>Image Editing Chatbot</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="/static/js/index.js"></script>

    <script>
        // This code saves session_id into javascript
        session_id = {{ session_id|tojson }}
        //console.log("received session id", session_id);
    </script>
</head>

<body>

    <div class="container">

        <div class="row">
        </div>

        <div class="jumbotron">

            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <h3>Image Editing Chatbot Survey </h3>
                </div>
                <div class="col"></div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" id="instruction-button"> Instructions </button>
                </div>
                <div class="col-6" id="image-container">
                    <img id="image" src="">
                </div>
                <div class="col">
                </div>
            </div>

            <hr>

            <div name="sliders">
                <div class="row">
                    <strong>Identified Object</strong>
                    <div class="col">
                        <span id="object"></span>
                    </div>

                </div>
                <div class="row">
                    <strong>Attributes</strong>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="input_brightness">brightness</label>
                        <input type="range" id="input_brightness" value="0" min="-100" max="100">
                        <output id="output_brightness">0</output>
                    </div>
                    <div class="col">
                        <label for="input_contrast">contrast</label>
                        <input type="range" id="input_contrast" value="0" min="-100" max="100">
                        <output id="output_contrast">0</output>
                    </div>
                    <div class="col">
                        <label for="input_hue">hue</label>
                        <input type="range" id="input_hue" value="0" min="-100" max="100">
                        <output id="output_hue">0</output>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="input_saturation">saturation</label>
                        <input type="range" id="input_saturation" value="0" min="-100" max="100">
                        <output id="output_saturation">0</output>
                    </div>
                    <div class="col">
                        <label for="input_lightness">lightness</label>
                        <input type="range" id="input_lightness" value="0" min="-100" max="100">
                        <output id="output_lightness">0</output>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <hr>



        <!-- Loading GIF -->
        <div id="loading-container" style=' display:none '>
            <img src="/static/images/loading.gif" />
        </div>

        <!-- System utterance -->
        <form>
            System:
            <div id="system_utterance">
                (Please wait.)
            </div>
        </form>

        <hr>

        <!-- User input -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">User Input</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                id="user_utterance">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="submit">Submit</button>
            </div>
        </div>


        <hr>
        <div class="row">
            <div class="col">
                <h4 id="turn-count"></h4>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info" id="end-button">End</button>
            </div>
            <div class="col">
            </div>
        </div>
        <hr>

        <footer class="footer">
            <p>&copy; CMU LTI 2019</p>
        </footer>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="end-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thank you for participating! </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <strong> Please rate the overall performance of the chatbot. </strong>

                            <div class="form-check form-check-inline" id="performance">
                                <label>
                                    <input name="rating" class="form-check-input" type="radio" value="Very Poor">
                                    Very Poor
                                </label>
                                <label>
                                    <input name="rating" class="form-check-input" type="radio" value="Poor">
                                    Poor
                                </label>
                                <label>
                                    <input name="rating" class="form-check-input" type="radio" value="Fair">
                                    Fair
                                </label>

                                <label>
                                    <input name="rating" class="form-check-input" type="radio" value="Good">
                                    Good
                                </label>

                                <label>
                                    <input name="rating" class="form-check-input" type="radio" value="Excellent">
                                    Excellent
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <strong> Please check all the items that apply to your experience.
                            </strong>
                            <div class="form-check">
                                <label class="reasons">
                                    <input name="reason" class="form-check-input" type="checkbox" value="bad_nlu">
                                    Chatbot did not understand me. (Wrong attribute/value/object)
                                </label>
                                <label class="reasons">
                                    <input name="reason" class="form-check-input" type="checkbox" value="bad_vision">
                                    Chatbot detected wrong region in the image.
                                </label>
                            </div>
                        </div>


                        <!-- Survey Code Block -->
                        <div class="form-group" id="survey-form-group">
                            <button type="button" class="btn btn-md btn-danger" id="survey-button">
                                Click to get Survey Code
                            </button>
                            <span class="border border-primary" id="survey-code">*********</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="sorry-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oops! Crashed TAT </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="instruction-modal">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">1. Perform at least one edit. </h5>
                            </div>
                            <p> You need at least one edit or interact with 10 turns to receive a survey code. However,
                                you can edit more if you want to.</p>
                            <p> Good news is: You are free to decide what you want to edit. </p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">2. Types of Edits </h5>
                            </div>
                            <p> Our chatbot is capable of identifying common objects in images. When describing objects,
                                please refer to the object as a whole (e.g., the man), instead of parts of the object
                                (e.g., the man's eyebrows)</p>
                            <p> Our chatbot can modify 5 attributes (1) brightness (2) contrast (3) hue (4) saturation
                                (5) lightness by a value (-100 to 100), which are shown below the image. </p>
                            <p> "Identified Object" shows what the object our chatbot identified in your instructions.
                            </p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">3. Survey </h5>
                            </div>
                            <p> Click on "end" button to conduct the survey. Tell us what you think of the performance
                                of our chatbot, and what situations apply to your experience.</p>
                            <p> Then, click on the red button to receive your survey code to fill in at Mechanical Turk.
                            </p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">4. Please do 1 HIT only and carefully. </h5>
                            </div>
                            <p> We will manually inspect every HIT so please do it carefully. 
                                Also, please do only 1 HIT, we will reject additional HITs from workers. </p>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>