# This file tells NPM how to find packages that start with scoped names, like @torqjs.
@torqjs:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-torq-web-release/
@coralui:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-coralui-release/
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-snapshot/