#jumbo {
    margin-top: 20px;
    text-align: center;
}

label {
    float: left;
    margin-right: 10px;
    width: 100px;
}

output {
    margin-left: 10px;
}


#image {
    max-width: auto;
    height: 300px;
}

#loading {
    height: 70px;
    width: 70px;
}

span {
    display: block;
}

.user_utterance {
    width: 500px;
}

.column {
    width: 50%;
}